.header {
    width: 100%;
    font-size: 2rem;
    color:red;
    margin-bottom: 10px;
    font-family: 'Modak', cursive;
    font-weight: bold;
    
    
  }
  
  .title {
    float: left;
    color: red;

  }
  
  .scores {
    float: right;
  }